.draw-canvas {
  border: 1.5px solid black;
  border-radius: 5px;
  margin-bottom: -5px;
  position: relative;
  cursor: none;
  background-color: white;
}

.draw-canvas-brush--hidden {
  visibility: hidden;
}
