html,
body {
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-family: Noto Sans, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 1px;
    padding: 10px;
    min-height: 100vh;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgb(173, 202, 209); */
}

.App-content {
  /* background: rgb(255, 255, 255) */
}
